#nav-container {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    }

.font {font-family: Georgia, serif;}

.tag {
   font-family: Georgia, serif;
   color: #FFFAFA;
   font-weight: bold;
   font-size:  16px;
   }

.stretch{  
    /*display:inline-block;*/
    -webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1); /* Firefox */
    -ms-transform:scale(1.5,1); /* IE 9 */
    -o-transform:scale(1.5,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
}

#panel-title1 {
   color: #20B2AA;
   text-shadow:0 0 0.1px #20B2AA;
   font-weight: bold;
   font-size: 22px;
   }

#panel-title2 {
   color: #20B2AA;
   text-shadow:0 0 0.1px #20B2AA;
   font-weight: bold;
   font-size: 18px;
   }

.panel-default {
   background: #FFFFFF;
               }

.panel-heading {
   background: #FFFFFF;
   
   }

.panel-body {
   background: #FFFFFF;
   }

footer {
     position:absolute;
     width:100%;
     bottom:0px;
        }

#box-lightseagreen {
   width: 100%;
   height: 5px;
   background:#20B2AA;
           }

#box-grey {
    width: 100%;
    height: 35px;
    background: #585858;
          }

#txt-vertical {
    position:absolute; 
    top:0; 
    left:0; 
    text-align:center; 
    width:100%; 
    color: #FFF; 
    font-size: 10px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    }
 